.main{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    background: url('./assets/r6.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}
.imggalleryh{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.booknowf{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    width: 10rem;
    height: 4rem;
    font-size: large;
    border-width: 0px;
    border-radius: 5px;
    background-color: #CA0C2A;

}
.icons{
    color: white;

}
.date{
    color: white;
    font-size: 28px;
    margin: 0px;
}
.button{
    color: #CA0C2A;
}
.time{
    color: white;
    font-size: 20px
}
.eventname{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    width: 60%;
    margin-bottom: 15%;
    margin-top: 15%;
    text-align: center;
}
.eventnametop,.eventnametop_{
    color: white;
    font-size: 28px;
    position: absolute;
    left: 125px;
top: 10px;
}
.eventnametop_{
   top:50px;
   font-size: 22px;
}
.logoc{
    padding:1%;
    display: flex;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
.elogo{
    background-image: url('../components/new.png');
    width: 80px;
    height: 80px;
   
    background-size: contain;
}
.omodal{
    background-color: #CA0C2A;
    border-width: 0px;
    color: white;
    border-radius: 5px;
    font-size: small;
    padding: 1%;
    width: 10rem;
    height: 4rem;
    font-family: mont;

}
.contact{
    background-color: white;
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5%;
}
.rowp1{
    flex-direction: row;
    display: flex;
    width: 100%;
position: relative;

    margin-bottom: 2%;
    justify-content: space-between;
}
.rowp2{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titleofcard{
    width: 25%;
    margin-right: 2%;
    height: 6rem;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    justify-content: center;
    color: white;
    font-size:large;
    align-items: center;
    display: flex;

    background-color: #CA0C2A;
}
.detailbox{
border-radius: 5px;
display: flex;
width: 100%;
padding-top: 3%;
padding-left: 3%;
padding-right: 3%;
padding-bottom: 3%;
margin-left: 5%;
flex-direction: column;
background-color: #121212;
}
.row1,.row2,.row3{
    padding: 5%;
    display: flex;

    flex-direction: column;

}
.row1{

}
.row2{

}
.book{
background-color: #CA0C2A;
color: white;
border-radius: 5px;
width: 10rem;
font-size: large;
margin-top: 10px;
height: 4rem;
border-width: 0px;
}

.content{
    margin-top: 5%;
    display: flex;
    width: 100%;
    padding: 1%;
    margin-left: 5%;
    flex-direction: column;
}
.sep{
    width: 10px;
}
.desc{
    color: white;
    text-align: left;
}
.corholder{
    display: flex;
    flex-direction:column;
    width: 120%;
    justify-content: center;
  
    margin-left: -10%;
  
}
.eventname_{
    color: #CA0C2A;
    font-weight: bolder;
    font-size: x-large;
}
.cardin{
    font-size: x-large;
    color: white;
}
.cardsholder{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 5%;
margin-left: 7%;

}
.crow1{

    display: flex;
    flex-direction: row;
    width: 100%;
justify-content: space-between;
display: flex;

}
.card{
    width: 11.875rem;
  
    height: 10.6rem;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    justify-content: center;
    color: white;
    font-size:large;
    align-items: center;
    display: flex;

    background-color: #CA0C2A;
}
