.main {
  display: flex;
  width: 100%;
  padding-top: 10%;
  padding-left: 7%;
  flex-direction: column;
  padding-right: 5%;
  background-color: black;
}
.pagenav{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  display: flex;
  justify-content: start;
}
.c {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
}
.arrows {
  height: 18rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.caurosel {
  margin-bottom: 2%;
  flex-direction: row;
  display: flex;

  margin-top: -5%;
  border-radius: 10px;
  width: 100%;
}
.titlenfilter {
  display: flex;
  width: 100%;
  padding: 0px;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
.cimg {
  height: 18em;
  width: 100%;
  border-radius: 10px;
  background: url("./assets/cypher.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.dropdown {
  background-color: #121212;
  color: white;
  border-width: 0px;
}
.bnav {
  color: white;
  border-radius: 5px;
  border-width: 0px;
  font-size: large;
  width: 3rem;
  margin-right: 2%;
  height: 3rem;
  background-color: #111111;
}
.inputk {
  background-color: #121212;
  border-width: 0px;
  border-radius: 5px;
}
.whatholder_ {
  color: white;
  position: relative;
  width: 20%;
  justify-content: center;
  align-items: left;

  font-size: smaller;
  text-align: left;
}
.searchind {
  width: auto;
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
  color: white;
}
.searchbox {
  margin-bottom: 5%;
  background-color: #121212;
  width: 100%;
  height: 130px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #4b4a4a;
  flex-direction: row;
  border-radius: 10px;
  align-self: start;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.fbuttons {
  flex-direction: row;
  display: flex;
  height: 100%;
  margin-bottom: 1%;

  margin-top: -5%;
  border-radius: 10px;
  width: 104%;
}

.cimg {
  height: 18em;
  width: 100%;
  border-radius: 10px;
  background: url("./assets/cypher.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.dropdown {
  background-color: #121212;
  color: white;
  border-width: 0px;
}
.dropbtn {
  text-align: left;
  padding: 0px;
  background-color: #121212;
  color: white;
  border-width: 0px;
}
.whatholder {
  color: white;
  position: relative;
  width: 20%;
  justify-content: center;
  align-items: left;

  font-size: smaller;
  text-align: left;
}
.searchind {
  width: auto;
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
  color: white;
}
.searchbox {
  margin-bottom: 5%;
  background-color: #121212;
  width: 100%;
  height: 130px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #4b4a4a;
  flex-direction: row;
  border-radius: 10px;
  align-self: start;
  margin-left: 2%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.fbuttons {
  flex-direction: row;
  display: flex;
  height: 100%;
  margin-bottom: 1%;
  width: auto;
}
.fbutton_ {
  background-color: #0000;
  border-width: 0px;
  color: white;
  font-family: mont;
  font-family: mont;
  font-size: small;
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fbutton {
  background-color: #0000;
  border-width: 0px;
  color: white;
  font-family: mont;
  font-size: small;
  border-left-width: 1px;
  border-left-color: white;
  display: flex;
}
.title {
  color: #ffffff;
  font-size: 40px;
 
 
}
.entertainmentholder {
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: mont;
}
.row1 {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.searchs {
  background-color: #ca0c2a;
  border: none;
  color: white;
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  margin-top: 5%;
}
@media screen and (max-width: 1200px) {
  .caurosel {
    width: 100%;
  }
  .arrows {
    display: none;
  }
  .pagenav {
    width: 60%;
    margin-left: 2%;
    margin-bottom: 10%;
  }
  .title {
    font-size: small;
  }
  .caurosel {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .titlenfilter {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
  }
  .entertainmentholder {
    flex-direction: column;
    margin-left: -10px;
    margin-right: 0px;
  }
  .row1 {
    flex-direction: column;
    padding-left: 5%;
  }
  .main {
    overflow: hidden;
    padding-top: 15%;
   
    flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .searchs {
    background-color: #ca0c2a;
    border: none;
    color: white;
    width: 100%;
   margin-left: 0px;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
  }
  .searchbox {
    width: 100%;
    padding: 0px;
    flex-direction: column;
    padding: 5%;

    height: auto;
   margin-left: 0px;
   margin-right: 10px;
    justify-content: center;
    align-items: flex-start;
  }
  .cimg {
    padding-left: 2%;
    padding-right: 2%;
  }
}
