
.main{
    padding-top:7%;
  padding-left: 8%;
  padding-right: 6%;
flex-direction: column;
    display: flex;
    background-color: black;
background-image: url('./assets/r6.jpg');
background-size:contain;
background-repeat: no-repeat;

  width: 100%;
    justify-content: center;
    align-items: center;
}
.dropbtn{
text-align: left;
padding: 0px;
    background-color:#121212;
    color:white;
    border-width:0px;

}
.emptyspace{
   
    height: 10%;
}
.btitleholder{
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-bottom: -5%;
}
.animationtext{
    color:#CA0C2A;
    font-size: 57.5px;
    font-weight: 700;
  

    margin-left:10px;
}
.title{
    align-self: start;
   
    font-size: 15px;
    font-weight: 600;
  
    color: white;
}
.btitle{
    align-self: start;
    display: inline-flex;
    font-size: 57.5px;
    font-weight: 700;

    color: white;

}
.searchbox{
 margin-bottom: 5em;
    background-color: #121212;
    width: 80%;
    height: 130px;
    flex-direction: row;
    border-radius: 10px;
    align-self: start;
border-width: 1px;
border-color: grey;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.whatholder{
color: white;
    position: relative;
    width: 25%;
    justify-content: center;
    align-items: left;
   
    font-size: smaller;
    text-align: left;
}

.dropdown{
    background-color: #121212;
    color: white;
    border-width: 0px;
    
}

.dropitm{
    margin: 40px;
 
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.dropdownitem:hover{
 
    outline-color: #AA0020;
    color: red;
}
.upcoming{
    color: white;
    font-weight: 700;
font-size:35px;
align-self: start;
 line-height: 35px;
}
.upcomingholder{
    align-self: center;
  margin-top: 5em;
width: 100%;
    display: flex;
    flex-direction: column;
  

    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: mont;
   
}
.Home_searchind__2uZZ2{
    margin-bottom:10px;
}
.searchind{
    width: auto;
    margin:0px;
    padding:0px;
    margin-left: 0px;
    color: white;
}
.textandimg{
    display: flex;
    width: 100%;
    flex-direction: row;
    
}
.cardholder{
    display: flex;
    margin-top: 2%;
    width: 100%;
    flex-direction: column;
}
.divider{
    width: 30px;
}
.sideimageofsell{
background-image: url('./assets/d.jpg');
height: 80vh;
position: relative;
top: 5%;
right: 5%;
width: 50%;
z-index: 1;
background-size: cover;
}
.row1{
   width: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}
.button{
    width: 5em;
}
.entertainmentholder{
    margin-top: 7%;
flex-direction: column;
    display: flex;
  width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: mont;
}
.entertainmenl1{
    color: white;
}
.entertainmenl2{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}
@font-face {
    font-family: mont;
    src: url('../components/fonts/Montserrat-Regular.ttf');
  }
  .dealofthedayholder{
      display: flex;
     transition: all ease 0.5s;
    align-items: center;
  
      font-family: mont;
      margin-top: 10%;
     background: url('./assets/c.jpg');
     background-repeat: no-repeat;
     background-size: cover;
      width:100%;
      height: 25em;
      border-radius: 10px;

      justify-content: center;
  }
  .dealofthedayholder:hover{
    box-shadow: 5px 5px 20px grey;
 
}
  .buttonndstuff{
      display: flex;
   margin-top: 15%;
      width: 90%;
      justify-content: center;
      align-items: flex-start;
            flex-direction: column;
  }
  .dealtitle1{
      color: white;
      font-weight: bolder;
      font-size: 50px;
      font-family: mont;
    
  }
  .dealtitle2{
    color: white;
   
    font-size: 1em;
    position: relative;
    top: -1rem;
    font-family: mont;
}
.grabdealnowbtn{
    background-color: #AA0020;
    border-radius: 10px;
    color: white;
    width: 30%;
    height: 3.5em;
    border-width: 0px;
}
.off{
    color: white;
    width: 50%;
    flex: 0.5;

    font-size: 10em;
font-weight: bolder;
height:12rem;
margin-top: 1rem;
margin-right: 10rem;
justify-content: flex-end;
display: flex;
}
.sellticketholderl{
    margin-top: 4%;
color: grey;

}
.sellticketholder2{
    color: white;
 
   
    font-size: xx-large;
}
.sellticketholder{
    display: flex;
padding: 10%;
    width:120%;
 margin-top: 5%;
   margin-bottom: 10%;
flex-direction: column;
  
    background-color: #0a0a0a;
    align-self: center;
  
 
}
.lableholder{
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
  
    flex-direction: column;
}
.textcontainer{
    background-color: honeydew;
    width: 60%;
    height: 25em;
    text-align: left;
    display: flex;
    align-items: center;
padding:5%;
z-index: 150;
    justify-content: center;
    margin-top: 8%;
}
p{
    transition: all ease 1s;
    font-family: mont;
}
.sellticketlongtext{
    align-self: center;
justify-self: center;
font-size: x-large;
line-height: 45px;
word-wrap:break-word;
}
.allthebuttons{
    align-self: flex-start;
    justify-self: end;
flex-direction: row;
    z-index: 1;
    width: 100%;
    margin-top: 5%;
  
 
}
.viewallbtn{
    border-radius: 5px;
    background-color: #CA0C2A;
    border-width: 0px;
    color: white;
    width: 10rem;
    font-size: small;
    height: 3rem;
    justify-self: center;
    margin-top: -15%;
}
.titleholder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sellticketbutton{
    border-width: 0px;
width: 13em;
height: 6em;
position: relative;
top: -120px;
font-size:small;
align-self: center;
background-color: #0a0a0a;
color: white;
font-family: mont;
border-width: 0px;
border-bottom-width: 2px;
font-family: mont;
border-color: transparent;
transition: all ease-out 0.5s;
    
}
.sellticketbutton:hover{
    border-width: 0px;
    border-bottom-width: 2px;
font-family: mont;
    border-color: #CA0C2A;
}
.getstartedbtn{
    border-radius: 5px;
    background-color:#CA0C2A ;
    color: white;
    width: 10em;
    height: 3.5em;
  align-self: center;

    border-width: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: all ease 0.5s;
}
.getstartedbtn:hover{
    transform: translateY(-5px)
}
.blogsectionholder{

    display: flex;
    width: 100%;
   position: relative;

flex-direction: column;
  

   align-self: center;
 
    align-items: center;
}

.cardhoderblog{
    margin-top: 2.5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  
    position: relative;
}
@media screen and (max-width: 400px) {
    .cardholderblog{
        flex-direction: column;
        display: flex;
        margin-top: 2.5%;
    align-items: center;
    justify-content: center;
    display: flex;

    position: relative;
    }
}
.card1blog{
    width: 50%;
    height: 35em;
background-color: #121212;



padding:3%;
margin-right: 3%;
display: flex;
border-radius: 10px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.card2blog{
    background-color: violet;
    width: 50%;
    background-image: url('../components/b1.jpg');
    background-size: cover;
    border-radius: 10px;
    height: 35em;
    margin-right: 2%;
}
.blogbtn1{
    background-color: #CA0C2A;
    width: 10em;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 2em;
    font-size: small;
    margin-bottom: 5%;
}
.blogcardt1{
    font-weight: 500;
    color: white;
    font-size: 30px;
    font-family: mont;
}
.blogcardt2{
    font-weight: lighter;
    color: white;
    font-size: 18px;
    font-family: mont;
    line-height: 28px;
}
.readmorebtn{
    border: 1px solid #c5c5c5;
    background-color: black;
    width: 10em;
    height: 3em;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    font-size: medium;
    position: relative;
    margin-top: 9%;
    transition:  all .5s ease
}
.readmorebtn:hover{

transform: translateY(-5px);
}
.testnomialsholder{
    display: flex;
    width: 100%;
   position: relative;

margin-bottom: 5%;

flex-direction: column;
  
   
    align-self: center;
    justify-content: center;
   
    margin-top: 5%;
}
.testnomialcardholder{
    display: flex;
    flex-direction: row;
    width: 20em;
    height: 20em;
    border-radius: 10px;

}
.dropdown{
    background-color: black;
    width: 15em;
}
.testnomialcards{
    width: 32%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   margin: 0.5%;

    height: 17em;
justify-content: center;
align-items: left;
padding-left: 1%;
text-align: left;
    background-color: #121212;
}
.row1test{
display: flex;
width: 100%;
flex-direction: row;
}
.imgstarandname{
display: flex;
margin-top: 2.5%;
flex-direction: row;
}
.nametimestar{
    font-family: mont;
    color: white;
    margin-left: 5%;
}
.alltestcardholder{
    margin-top:5%;
}