.mainl{
    display: flex;
    height: 60vh;
    width: 100%;
    text-align: left;
    flex-direction:column;
    background-color: #121212;
  padding: 5%;
    justify-content: space-around;
    align-items: center;
}
.loginstuff{
    width: 50%;
}

.simg{
background-image: url('./b.jpg');
width: 100%;
height: 10vh;
background-repeat: no-repeat;
background-size: cover;

}
.regn{
    font-size: x-small;
    color: #CA0C2A;
    cursor: pointer;
}
.regf{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}
.forgot{
    font-size: x-small;
    color: grey;
}
.reg{
    background-color: #CA0C2A;
    color: white;
    
    border-radius: 5px;
    font-size: small;
    width: 5rem;
 
border-width: 0px;
height: 2rem;
}
.main{
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    background-color: #121212;
  padding: 5%;
    justify-content: space-between;
    align-items: center;
}
.gender{
    font-size: small;
    color: white;
}
.h{
    display: flex;
    flex-direction: row;
}
.rem{
    font-size: x-small;
}
.loginnrem{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.inp{
   border-radius: 5px;
   border-width: 0px; 
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 45px;
    color: white;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding-left:10px;
    background-color: #222222;

}
.ant-picker-input{
    color: white !important;
}
.error{
    font-size: 10px;
    margin-top: 4px;
    color: tomato;
    align-self: center;
}
.datepick{
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    transition: all ease 0.4s;
}

.title{
    justify-content: left;
    align-items: left;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;

}
h1{
    color: white;
}
label{
    color: white;
}
.login{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icons{
    background-color: #282828;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50px;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}